body {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "main_content";
    background-color: #F7F6F3;
    gap: 10px;
    
    font-family: Manrope, sans-serif;
    font-size: 14px;
}

h1, h2 {
    font-family: Gelica, serif;
    font-style: normal;
        font-weight: 400;
}

h3 {
    font-family: Manrope, sans-serif;
    font-style: normal;
        font-weight: 400;
    font-size: 20px;
}

header {
    grid-area: header;
    justify-self: stretch;
    align-self: center;
}

#footer {
    grid-area: footer;
}

.main {
    grid-area: main_content;
    padding-left: 10%;
    padding-right: 10%;
}

#content {
    grid-area: main_content;
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-areas: "main_map sidebar";
    /* add charts */
    column-gap: 1%;
    margin-top: 8%;
    margin-bottom: 8%;
    padding-left: 3%;
    padding-right: 3%;
}

#the_map {
    height: 80vh;
    grid-area: main_map;
}

#theSurvey {
    grid-area: survey;
}

#placeForButtons {
    grid-area: buttonHome;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#sidebar {
    /*right side panel*/
    grid-area: sidebar;
    /* background-color: #81b5a8; */
    padding: 20px;
    border-radius: 25px;
    overflow-y: scroll;
    height: 500px;
}


/* navbar */

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F7F6F3;
}

li.navitem {
    float: left;
}

li.navitem.logo {
    float: left;
    padding: 14px 16px;
}

li.navitem.logo a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li.navitem a {
    display: block;
    color: #333;
    letter-spacing: .3px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Manrope, sans-serif;
    font-weight: 700;
}

li.navitem a:hover {
    color: #777;
}

li.navitem.right {
    float: right;
}

.navbar-container .logo {
    margin-right: auto;
    /* Pushes the logo to the right */
}

.navbar-container .nav-button {
    padding: 5px 10px;
    /* Adjust the button padding for desired size */
    font-size: 16px;
    /* Adjust the font size for desired size */
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* story response */
.response {
    padding-bottom: 30px;

}