body {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "main_content";
    background-color: #F7F6F3;
    gap: 10px;
    
    font-family: Manrope, sans-serif;
    font-size: 14px;
}

h1, h2 {
    font-family: Gelica, serif;
    font-style: normal;
        font-weight: 400;
}

h3 {
    font-family: Manrope, sans-serif;
    font-style: normal;
        font-weight: 400;
    font-size: 20px;
}

header {
    grid-area: header;
    justify-self: stretch;
    align-self: center;
}

#footer {
    grid-area: footer;
}

.main {
    grid-area: main_content;
    padding-left: 10%;
    padding-right: 10%;
}

#content {
    grid-area: main_content;
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-areas: "main_map sidebar";
    /* add charts */
    column-gap: 1%;
    margin-top: 8%;
    margin-bottom: 8%;
    padding-left: 3%;
    padding-right: 3%;
}

#the_map {
    height:80vh;
    grid-area: main_map;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    align-items: center;
    justify-items: right;  
}

#legend{
    z-index: 9999;
    background-color: white;
    padding: 10px;    
    grid-column: 1 / span 3;
    grid-row: 1;
    font-size: x-small;
}

#placeForButtons {
    grid-area: buttonHome;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#sidebar {
    /*right side panel*/
    grid-area: sidebar;
    /* background-color: #81b5a8; */
    padding: 20px;
    border-radius: 25px;
    overflow-y: scroll;
    height: 500px;
}


/* navbar */

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F7F6F3;
}

li.navitem {
    float: left;
}

li.navitem.logo {
    float: left;
    padding: 14px 16px;
}

li.navitem.logo a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li.navitem a {
    display: block;
    color: #333;
    letter-spacing: .3px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Manrope, sans-serif;
    font-weight: 700;
}

li.navitem a:hover {
    color: #777;
}

li.navitem.right {
    float: right;
}

.navbar-container .logo {
    margin-right: auto;
    /* Pushes the logo to the right */
}

.navbar-container .nav-button {
    padding: 5px 10px;
    /* Adjust the button padding for desired size */
    font-size: 16px;
    /* Adjust the font size for desired size */
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* story response */
.response {
    padding: 30px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 10px;

}

.responseInfo {
    vertical-align: text-top;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
}

#legend {
    z-index: 1000;
    position: relative;
    background-color: #F7F6F3;
    width: 100px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .center-div {
    display: flex;
    justify-content: center;
  }
